<html>
    <head>
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='static/styles_carta.css') }}"> -->
        <link rel= "stylesheet" type= "text/css" href= "../static/styles_carta.css">
    </head>
    <body>
        <form method="POST" name="primary-form">
            <!--
            <div class="input_box">
            <label for="data">Data: </label>
            <input name="data" type="text" placeholder="dd/mm/yyyy"/>
            </div>
            -->
            
            <div class="input_box">
            <label for="destinatario">Destinatario: </label>
            <input name="destinatario" type="text"/>
            </div>
            <div class="message_box">
            <label for="mensagem">Mensagem: </label>
            <textarea name="mensagem">
            </textarea>
            </div>
            <div class="input_box">
            <!--
            <label for="remetente">Remetente: </label>
            <input name="remetente" type="text"/>
            </div>
            -->
            <div class="input_box">
            <input name="gerar" type="submit" value="Gerar Carta" />
            </div>
        </form>

        <div name="reading_area">
            <div name="reading_title"><pr name="reading_title">Emails Antigos</pr></div>
            <textarea name="reading_area" readonly>
		    <a>{{ tabela_html | safe }}</a>
	    </textarea>
        </div>
    </body>
</html>
